<div class="container-fluid">
    <div class="row col-12">
        <div class="page-titles col-12">
            <h4>{{title}}</h4>
        </div>
    </div>
    <div class="row col-12">
        <div class="card col-12">
            <div class="card-body">
                <form action="/contacts/content" method="post">
                    <div class="form-group">
                        <h4>E-mail</h4>
                        <input class="form-control form-control-lg" type="text" name="email" placeholder="Type your Email"
                            value="{{datas.email}}">
                    </div>
                    
                    <div class="form-group">
                        <h4>Mobile</h4>
                        <input class="form-control form-control-lg" type="text" name="mobile" placeholder="Type your mobile number"
                            value="{{datas.mobile}}">
                    </div>
                    <div class="form-group">
                        <h4>Address</h4>
                        <input class="form-control form-control-lg" type="text" name="address" placeholder="Type your address"
                            value="{{datas.address}}">
                    </div>
                    <input type="hidden" name="id" value="{{datas._id}}">
                    <button type="submit" class="btn btn-primary">Add</button>

                </form>
            </div>
        </div>
    </div>
</div>