<div class="container-fluid">
    <div class="row col-12">
        <div class="page-titles col-12">
            <h4>{{title}}</h4>
        </div>
    </div>
    <div class="row col-12 justify-content-between">
        {{#if datas}}
        {{#each datas}}
        <div class="col-12 card shadow">
            <a href={{this.projectUrl}} class=" mb-3 " target="_blank">
                <img class="card-img-top " style="height:250px;object-fit:cover;"
                    src="{{baseurl}}/uploads/{{this.image}}" alt="Card image cap">
                <div class="card-header">
                    <h5 class="card-title">{{this.projectName}}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{this.description}}</p>
                </div>
                <div class="card-footer d-sm-flex justify-content-end">
                    <a href="/projects/delete/{{this._id}}" id="toastr-success-top-right"
                        class="btn btn-danger mr-3">Delete</a>
                    <a href="/projects/edit/{{this._id}}" class="btn btn-primary">Edit</a>
                </div>
            </a>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>